@charset "utf-8";
/* CSS Document */
*{
  box-sizing: border-box;
}

@font-face{
	font-family: fancy;
	src: url("font/MotherTonguePersonalUse-x3L3m.otf"); }
@font-face{
	font-family: shalma;
	src: url("font/Shalma-Rp0Pe.otf"); }
@font-face{
	font-family: MCBold;
	src: url("font/MomcakeBold-WyonA.otf"); }
@font-face{
	font-family: designer;
	src: url("font/DESIGNER.otf"); }
@font-face{
	font-family: JSMedium;
	src: url("font/JosefinSans-Medium.ttf"); }
@font-face{
	font-family: JSLight;
	src: url("font/JosefinSans-Light.ttf"); }


@keyframes slideInLeft {
    0% {
    transform: translateX(-8%);}
    100% {
	transform: translateX(0);}
}

@keyframes slideInRight {
    0% {
    transform: translateX(25%);}
    100% {
	transform: translateX(0);}
}
.header{
	width: 100%;
	padding: 1px;
	border-bottom: 3px double white;
}

.sticky {
	background-color:#0D005F;
  position: fixed;
  top: 0;
	border-bottom: 3px double white;
  width: 100%;
}

.sticky + .content {
	background-color: #0D005F;
  padding-top: 70px;
	border-bottom: 3px double white;
}

body{
	background-image:url("bg2.jpg");
	background-attachment: scroll;
	background-blend-mode: color;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.userIcon{
	border: 4px dotted white;
	border-radius: 50%;
	width: 45%;
	height: 45%;
	transition: transform .2s;
	margin-left: 30%;
	margin-right: 20%;
	margin-bottom: 2%
}

.userIcon:hover{
	transform: scale(1.2);
    color: #41ab6b;
}

.container{
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 1);
	border: 0px solid white;
	box-sizing: border-box;
	width: 90%;
	align-items: center; 
}

.leftPane{
  display: inline-block;
	width: 35%;
	text-align: justify;
	padding-left: 10px;
}

.rightPane{
	align-content: left;
	box-sizing: border-box;	
	display: inline-block;
	width: 62%;
	padding: 5px;
	animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
	text-align: justify;
}


.info{
	width: 100%;
	list-style: none;
}
li{
	font-family: JSLight;
	width: 100%;
	color: white;
	padding: 5px;
	box-sizing: border-box;
}

.listHeader:hover{
	transform: scale3d(1.2);
	box-shadow: 10px 10px 10% grey;
	background: linear-gradient(to right, rgb(138, 43, 226, 0.3), rgba(0,0,0,0.5));
	animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideinLeft;
}
.listHeader{
	font-family: MCBold;
	font-size: 2.5vw;
}
.social-btn{
	box-sizing: border-box;
	display: inline-block;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	border: 2px double white;
	margin-bottom: 5px;
}
.social-btn:hover{
	animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInRight;
	
}
.content{
	display: block;
}

.glow{
  font-family: designer;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #C7C7C7, 0 0 10px #C7C7C7, 0 0 15px #C7C7C7 , 0 0 20px #C7C7C7, 0 0 25px #C7C7C7, 0 0 30px #C7C7C7, 0 0 35px #C7C7C7;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}

.footer{
	color: white;
	border-top: 2px double white;
	width: 100vw;
	padding: 2vw;

/*
TO ADD DYNAMIC COLORFUL HOVER ON IMAGE 

.item{
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 400px;
  z-index: 1000;

	img{
    	object-fit: cover;
    	height: 400px;
    	width: 400px;
  	}
  	&::before, &::after {
    background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s;
    transition-delay: .2s;
    transform: translateY(0px) translateX(0px);
    width: 100%;
    z-index: -1;
  	}
  	&::after {
    background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
  	}
  	&:hover{
    animation-name: hoverPop;
    animation-duration: .4s;
    animation-fill-direction: forward;
    img{  
      box-shadow: 2px 2px 4px 0px rgba(10,12,15,0.27);
      box-shadow: 0px 0px 30px 0px rgba(10,12,15,0.27);
    }
    
		&::before{
      animation: slick-hover-2 3s .4s linear infinite;
      transform: translateY(-20px) translateX(-20px);
    }
    &::after{
      animation: slick-hover 3s .4s linear infinite reverse;
      transform: translateY(20px) translateX(20px);
    }
  }
}

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(.90);
  }
}

@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px) }
  16.67% {
    transform: translateY(-13px) translateX(-9px) }
  33.33% {
    transform: translateY(4px) translateX(12px) }
  50.00% {
    transform: translateY(20px) translateX(-20px) }
  66.67% {
    transform: translateY(-3px) translateX(8px) }
  83.33% {
    transform: translateY(-15px) translateX(-11px) }
  100.00% {
    transform: translateY(20px) translateX(20px) }
}

@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px) }
  16.67% {
    transform: translateY(3px) translateX(-5px) }
  33.33% {
    transform: translateY(18px) translateX(-10px) }
  50.00% {
    transform: translateY(-20px) translateX(20px) }
  66.67% {
    transform: translateY(15px) translateX(-4px) }
  83.33% {
    transform: translateY(-1px) translateX(15px) }
  100.00% {
    transform: translateY(-20px) translateX(-20px) }
}
*/

